:root {
    --main-bg-color: hsl(0, 0%, 98%);
    --accent-color: color-mix(in srgb, orange 70%, red 30%);
    --text-color: #333;
    --highlight-color: rgba(255, 165, 0, 0.2);
    --fallback-color: red;
    --btn-hover-color: var(--accent-color, orange);

}
*{

}
p{

}

#tools{

}

button:hover{

}

.list{

}

h1, h2, h3{

}

summary > p{
    
}

fieldset:has(textarea){

}

form{

    fieldset{

        label{

        }

        input{

        }

    }
}

input[name="Language"]{

}